body{
    background: #f4f4f4;
}

#btnstyle {
    border-radius: 15px !important;
}

a:hover{
    text-decoration: none !important;
}

#footer {
    background: #333333;
    color: #ffffff;
    text-align: center;
    padding: 30px;
    margin-top: 30px;
}

    /* Nav-Bar */

.navbar{
    min-height: 33px !important;
    margin-bottom: 0;
    border-radius: 0;
}

.navbar-nav > li > a, .navbar-brand{
    padding-top: 6px !important;
    padding-top: 0 !important;
    height: 33px;
}

.navbar-default {
    background-color: #6b252b;
    border-color: #950714;
  }

  .navbar-default .navbar-brand {
    color: #ecf0f1;
  }

  .navbar-default .navbar-brand:hover,
  .navbar-default .navbar-brand:focus {
    color: #ffbbbc;
  }

  .navbar-default .navbar-text {
    color: #ecf0f1;
  }

  .navbar-default .navbar-nav > li > a {
    color: #ecf0f1;
  }

  .navbar-default .navbar-nav > li > a:hover,
  .navbar-default .navbar-nav > li > a:focus {
    color: #ffbbbc;
  }

  .navbar-default .navbar-nav > .active > a,
  .navbar-default .navbar-nav > .active > a:hover,
  .navbar-default .navbar-nav > .active > a:focus {
    color: #ffbbbc;
    background-color: #950714;
  }

  .navbar-default .navbar-nav > .open > a,
  .navbar-default .navbar-nav > .open > a:hover,
  .navbar-default .navbar-nav > .open > a:focus {
    color: #ffbbbc;
    background-color: #950714;
  }

  .navbar-default .navbar-toggle {
    border-color: #950714;
  }

  .navbar-default .navbar-toggle:hover,
  .navbar-default .navbar-toggle:focus {
    background-color: #950714;
  }

  .navbar-default .navbar-toggle .icon-bar {
    background-color: #ecf0f1;
  }

  .navbar-default .navbar-collapse,
  .navbar-default .navbar-form {
    border-color: #ecf0f1;
  }

  .navbar-default .navbar-link {
    color: #ecf0f1;
  }

  .navbar-default .navbar-link:hover {
    color: #ffbbbc;
  }


    /* Custom */

  .main-color-bg{
    background-color: #6b252b !important;
    border-color: #950714 !important;
    color: #ffffff !important;
  }

      /* Header */

  #header{
      background: #333333;
      color: #ffffff;
      padding-bottom: 10px;
      margin-bottom: 15px;
  }
  
  #header .create{
      padding-top: 20px;
  }

    /* Breadcrumb */
    .breadcrumb{
        background: #cccccc;
        color: #333333;
    }

    .breadcrumb a{
        color: #333333;
    }

    /* Progress bar */
    .progress-bar{
      background: #333333;
      color: #ffffff;
    }

    .dash-box{
      text-align: center;
    }

    #login{
      margin-top: 30px;
    }

    /* Footer */
#footer {
    background: #333333;
    color: #ffffff;
    text-align: center;
    padding: 30px;
    margin-top: 30px;
}



  
  @media (max-width: 767px) {
    .navbar-default .navbar-nav .open .dropdown-menu > li > a {
      color: #ecf0f1;
    }
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
      color: #ffbbbc;
    }
    .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
    .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
    .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
      color: #ffbbbc;
      background-color: #950714;
    }
  }