.btn{
    width:75px;
}

.imageThumbnail {
    height:200px;
    width:auto;
}

#navbar {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

div#navbar a {
  color:white;
}



