@model int

@{ 
    ViewBag.Title = "404 Error";
}

<div class="alert alert-danger mt-1 mb-1">
    <h4>404 Not Found Error : </h4>
    <hr />
    <h5>
        Student with Id = @Model cannot be found
    </h5>
</div>
<a class="btn btn-outline-success" style="width: auto;" asp-controller="home" asp-action="index">
    Click here to see the list of students
</a>